<div class="text-right mb-3" *ngIf="question.responseInterval >= 0">
  <span class="border border-primary rounded-lg p-2 lead">Time for response: {{remindSeconds}}</span>
</div>
<div>
  <label>{{question.question}}</label>
</div>
<div *ngIf="question.notes">
  <div class="alert alert-info" role="alert">
    <small>
      <span [innerHTML]="question.notes"></span>
    </small>
  </div>
</div>
<div>
  
  <div *ngIf="question.type === 0">
    <div class="form-group">
      <select class="form-control" (change)="onValueSelected()" [(ngModel)]="response[question.id]">
        <option></option>
      <option [ngValue]="itm.displayValue" *ngFor="let itm of question.choices">{{itm.displayValue}}</option>
      </select>
    </div>  
  </div>

  <div *ngIf="question.type === 1">
    <div class="form-check" *ngFor="let itm of question.choices">
      <input type="checkbox" (change)="onOptionSelected(itm.displayValue)" class="form-check-input" id="chkSelection">
    <label class="form-check-label" for="chkSelection">{{itm.displayValue}}</label>
    </div>    
  </div>

  <div *ngIf="question.type === 2">
    <div *ngFor="let itm of question.choices; let idx = index">
      <span class="text-muted"><small><i>{{itm.notes}}</i></small></span>
      <input class="form-control" (input)="onValueSelected()" [(ngModel)]="this.response[question.id]" type="text"/>  
    </div>
  </div>
 
  <div *ngIf="question.type === 3">
      
    <div *ngFor="let itm of question.choices; let idx = index">
      <span class="text-muted"><small><i>{{itm.notes}}</i></small></span>
      <textarea [(ngModel)]="freeTextResponses[idx]" (change)="onValueSelected()" class="form-control"></textarea>
    </div>

  </div>
 

</div>