<p>
  Select your favorite San Diego restaurant
</p>

<div class="media border p-2 m-2">
  <img src="https://lh4.googleusercontent.com/proxy/Jhf1e7_R6QjD-k3nt_RKV4wWpKD2GETUqJXoeOGKf6bbj5ZIh6aeERo4X0kQI5ceJmMvMhezywamykSp6j8qwe0IEGoQwjYqmE06CedJxTN3HxkyA_qUxw7lcgxa8CLg-Q" class="mr-3" alt="...">
  <div class="media-body">
    <div class="row">
      <div class="col-10">
        <h5 class="mt-0">Media heading</h5>
      </div>
      <div class="col-2">
        <a href="#" class="badge badge-success">4.7 / 5</a>
        <p><small>votes 23</small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p><small>Coronado * Small Dinner</small></p>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-12">
        <p><small> <span class="text-success">Open Now</span> * <span class="text-danger">Mexican</span> * <span>Cost $45 for two</span></small> </p>
      </div>
    </div>
  </div>
</div>